# Credentials / Secrets
*.env
profiles.yml

# Execution logs
*.logs

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

# Temporarily exclude data from source control until DVC is configured
/data/
